.crosscolor-puzzle {
  position: relative;
  display: flex;
  width: 100%;
  [data-color="1"] {background-color: blue;}
  [data-color="2"] {background-color: red;}
  [data-color="3"] {background-color: green;}
  [data-color="4"] {background-color: yellow;}
  &--side {
    display: flex;
    flex-wrap: wrap;
    gap:.4rem;
    padding: .4rem;
  }
  &--color {
    width: 4rem;
    height: 4rem;

    &[data-selected="true"] {outline: .2rem solid black;}
  }
  &--main {
    display: flex;
    flex: 1;
    width: 100%;
  }
  &--item {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-tr{
      display: flex;
      justify-content: space-between;
    }
    &-td {
      flex: 1;
      aspect-ratio: 1/1;
      border: 1px solid black;
      margin: -1px 0 0 -1px;
    }
  }

}