// 짝 짓기
.game-mating {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:.8rem;
  }
  &--item {
    flex:1;
    padding:4rem 2rem;
    border-radius: 1.6rem;
    border:.2rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    min-width: calc(33% - .8rem);

    &[data-selected="true"][data-n="1"] {background-color: skyblue;}
    &[data-selected="true"][data-n="2"] {background-color: pink;}
    &[data-selected="true"][data-n="3"] {background-color: yellowgreen;}
    &[data-selected="true"][data-n="4"] {background-color: gold;}
    &[data-selected="true"][data-n="5"] {background-color: gray;}
  }
}
