[data-drag] {
  position: relative;
  display: flex;
  gap:5rem;
  align-items: center;
}
[data-drag-target="item"] {
  width: 30rem;
  height: 20rem;
  position: relative;
  border: .1rem solid #ccc;

  background-color: transparent;
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      #e4e9f3 25%,
      #e4e9f3 26%,
      transparent 27%,
      transparent 74%,
      #e4e9f3 75%,
      #e4e9f3 76%,
      transparent 77%,
      transparent),
    linear-gradient(
      90deg,
      transparent 24%,
      #e4e9f3 25%,
      #e4e9f3 26%,
      transparent 27%,
      transparent 74%,
      #e4e9f3 75%,
      #e4e9f3 76%,
      transparent 77%,
      transparent);
  background-size: 4rem 4rem;
  background-position: 1rem 1rem;
}
[data-drag-object="img"] {
  pointer-events: none;
}
[data-drag-object="wrap"] {
  position: relative;
}
[data-drag-object="item"] {
  position: relative;

  &[data-this="clone"] {
    position: absolute;
    top:0;
    left:0;
  }
}
[data-drag-contral="move"] {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top:calc(50% - 2rem);
  left:calc(50% - 2rem);
  z-index: 2;
  border-radius: 50%;
  outline: 1px solid red;
  cursor: grab;

  &:active {
    cursor:grabbing
  }
}
[data-control-view="off"] [data-drag-contral="group"] {
  display: flex;
  animation-name: controlOff;
  animation-duration: 200ms;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
[data-control-view="on"] [data-drag-contral="group"] {
  display: flex;
}
[data-drag-contral="group"] {
  position: absolute;
  top:0;
  left:50%;
  z-index: 1;
  display: none;
  transform: translate(-50%, -2.4rem);

  [data-drag-contral] {
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
  }
}

@keyframes controlOff {
  0% {opacity: 1;}
  99% {opacity: 0;}
  100% {opacity: 0; display: none;}
}



 
.sample-target{
  display: flex;
  gap:1rem;
}
[data-drag="drag1"] {
  left:4rem;
  top:4rem;
}

[data-drag-contral="move"]:focus{
  outline: 1px solid black;
}





