.area-modal {
	position: absolute;
	top: 0;
	left: 0;
}
button:focus{outline: 1px solid red;}

.project-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;

	&:focus .project-modal--item{
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	}
	//dim
	&::after {
		content:"";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}

	.btn-hidden {
		display: block;
		position: absolute;
		bottom: -100dvh;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		background-color: #000;
		pointer-events: none;

		&:focus {
			pointer-events:visible;
			bottom: 0;
		}
	}
	// ready -> open
	&[aria-hidden="true"] {
		&[data-state ="hide"] {
			animation-name:modalHide;
			animation-duration:0.2s;
			animation-iteration-count:1;
			animation-timing-function:linear;
			animation-fill-mode:forwards;
		}

		.project-modal--item {
			animation-name:slideDownOut;
			animation-duration:0.2s;
			animation-iteration-count:1;
			animation-timing-function:linear;
			animation-fill-mode:forwards;
		}
	}
	&[aria-hidden="false"] {
		display: flex;
		.project-modal--item {
			animation-name:slideDownIn;
			animation-duration:0.2s;
			animation-iteration-count:1;
			animation-timing-function:linear;
			animation-fill-mode:forwards;
		}
	}

	&.ready {
		display: flex;
		overflow-y: hidden;
		&[data-scroll="outer"] {
			overflow-y: auto;
			background: rgba(0, 0, 0, 0.5);
			.ui-modal-dim {
				opacity: 0 !important;
				display: none !important;
			}
		}
		.ui-modal--dim {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background: rgba(0, 0, 0, 0.5);
			transition: opacity 0.4s ease-in-out;
		}
	}
	&.open {
		&.current .ui-modal--dim {opacity:1;}
		.ui-modal--item {opacity:1;}
	} 
	
	// position
	&.ps-center {
		justify-content: center;
		align-items: center;
	}
	&.ps-top {
		justify-content: center;
		align-items: flex-start;
		overflow: hidden;
		.ui-modal--item {margin-top: 0.8rem;}
		.ui-modal--drag {
			top: auto;
			bottom: 0;
		}
	}
	&.ps-bottom {
		justify-content: center;
		align-items: flex-end;
		overflow: hidden;
		.ui-modal--item {
			width: 100%;
			margin: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.ui-modal--header {min-height: 5.4rem;}
		.ui-modal--body {max-height: 32rem;}
		.ui-modal--footer {padding: 1.2rem 1.2rem calc(1.2rem + env(safe-area-inset-bottom));}
		
		&[data-drag="true"] .ui-modal--item {
			max-height: 32rem !important;
			height: 100%;
			.ui-modal--body {max-height: none}
		}
	}

	&--item {
		position: relative;
		z-index: 1;
		background-color: #fff;
		display: flex;
		flex-direction: column;
	}
	&--header {
		display: flex;
		justify-content: space-between;
	}
	&--footer {
		display: flex;
		justify-content: center;
	}
}