@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --opacity_1: 1;
  --opacity_0: 0;
  /* iOS 11.2 이상 */
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --primary: #FFD700;
  --sub: #FF612D;
  /* Grayscale */
  --gray_100: #000;
  --gray_95: #222;
  --gray_90: #444;
  --gray_80: #666;
  --gray_70: #777;
  --gray_60: #999;
  --gray_50: #ccc;
  --gray_40: #d7d7d7;
  --gray_30: #e5e5e5;
  --gray_20: #eee;
  --gray_10: #f7f7f7;
  --gray_0: #fff;
}

:root.dark {
  /* Grayscale */
  --gray_0: #000;
  --gray_10: #222;
  --gray_20: #444;
  --gray_30: #666;
  --gray_40: #777;
  --gray_50: #999;
  --gray_60: #ccc;
  --gray_70: #d7d7d7;
  --gray_80: #e5e5e5;
  --gray_90: #eee;
  --gray_95: #f7f7f7;
  --gray_100: #fff;
}

@keyframes modal-hide {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scale-In {
  0% {
    display: flex;
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scale-Out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes bottom-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bottom-Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes top-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes top-Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes left-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes left-Out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(-10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes right-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-Out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slideDownIn {
  0% {
    display: flex;
    opacity: 0;
  }
  1% {
    top: -10rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideDownOut {
  0% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: -10rem;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes slideLeftIn {
  0% {
    display: flex;
  }
  1% {
    left: -100dvw;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes slideLeftOut {
  0% {
    left: 0;
    opacity: 1;
  }
  99% {
    left: -100dvw;
    opacity: 1;
  }
  100% {
    left: -100dvw;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes slideRightIn {
  0% {
    display: flex;
  }
  1% {
    right: -100dvw;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes slideRightOut {
  0% {
    right: 0;
    opacity: 1;
  }
  99% {
    right: -100dvw;
    opacity: 1;
  }
  100% {
    right: -100dvw;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes show_toast {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide_toast {
  0% {
    transform: translateY(0);
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    margin-bottom: -5.2rem;
    opacity: 0;
  }
}
html {
  font-size: 10px;
}

html,
body {
  padding: 0;
}

/* See https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  background-color: #fff;
  font-family: "Base", sans-serif;
  color: #000;
  font-size: 1.6rem;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  min-height: 100dvh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  word-break: keep-all;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs */
input,
textarea,
select {
  font: inherit;
}

select[class],
textarea[class],
input[class] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

select[class]::-ms-expand {
  display: none;
}

/* Inherit fonts for buttons */
button {
  padding: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  background: transparent;
}

/* label */
label {
  cursor: pointer;
}

/* table */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  position: relative !important;
  width: 0.1rem !important;
  height: 0.1rem !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -0.1rem 0 0;
}

th,
td {
  border-collapse: collapse;
}

.a11y-hidden {
  position: absolute !important;
  width: 0.1rem !important;
  height: 0.1rem !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: 0 !important;
  padding: 0 !important;
}

.ellp {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

*.disabled,
*:disabled {
  pointer-events: none !important;
  cursor: default !important;
  opacity: 0.2 !important;
  box-shadow: none !important;
}

wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.4rem;
}

tit {
  font-size: 2rem;
  font-weight: 700;
}

box {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 0.1rem dashed #ccc;
}

codebox {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 0.1rem dashed #ccc;
  background-color: #f2f2f2;
}

code {
  width: 100%;
  overflow: auto;
  font-size: 1rem;
  line-height: 2;
  font-family: "Source Code Pro", serif;
}

.area-modal {
  position: absolute;
  top: 0;
  left: 0;
}

button:focus {
  outline: 1px solid red;
}

.project-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.project-modal:focus .project-modal--item {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.project-modal[data-zindex="1"] {
  z-index: 1;
}
.project-modal[data-zindex="2"] {
  z-index: 2;
}
.project-modal[data-zindex="3"] {
  z-index: 3;
}
.project-modal[data-zindex="4"] {
  z-index: 4;
}
.project-modal[data-zindex="5"] {
  z-index: 5;
}
.project-modal[data-zindex="6"] {
  z-index: 6;
}
.project-modal[data-zindex="7"] {
  z-index: 7;
}
.project-modal[data-zindex="8"] {
  z-index: 8;
}
.project-modal[data-zindex="9"] {
  z-index: 9;
}
.project-modal[data-zindex="10"] {
  z-index: 10;
}
.project-modal .dim {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.2s ease;
}
.project-modal .btn-hidden {
  display: block;
  position: absolute;
  bottom: -100dvh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #000;
  pointer-events: none;
}
.project-modal .btn-hidden:focus {
  pointer-events: visible;
  bottom: 0;
}
.project-modal[data-state=hide] {
  animation-name: modal-hide;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-state=hide] .dim {
  opacity: 0;
}
.project-modal[aria-hidden=false] {
  display: flex;
}
.project-modal[aria-hidden=false][data-state=show][data-current=true] .dim {
  opacity: 1;
}
.project-modal[data-ps=center] {
  justify-content: center;
  align-items: center;
}
.project-modal[data-ps=center][aria-hidden=true] .project-modal--item {
  animation-name: scale-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=center][aria-hidden=false] .project-modal--item {
  animation-name: scale-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=bottom] {
  justify-content: center;
  align-items: flex-end;
}
.project-modal[data-ps=bottom][aria-hidden=true] .project-modal--item {
  animation-name: bottom-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=bottom][aria-hidden=false] .project-modal--item {
  animation-name: bottom-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=top] {
  justify-content: center;
  align-items: flex-start;
}
.project-modal[data-ps=top][aria-hidden=true] .project-modal--item {
  animation-name: top-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=top][aria-hidden=false] .project-modal--item {
  animation-name: top-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=left] {
  justify-content: flex-start;
  align-items: center;
}
.project-modal[data-ps=left][aria-hidden=true] .project-modal--item {
  animation-name: left-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=left][aria-hidden=false] .project-modal--item {
  animation-name: left-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=right] {
  justify-content: flex-end;
  align-items: center;
}
.project-modal[data-ps=right][aria-hidden=true] .project-modal--item {
  animation-name: right-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal[data-ps=right][aria-hidden=false] .project-modal--item {
  animation-name: right-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.project-modal--item {
  position: relative;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #ccc;
}
.project-modal--header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.project-modal--footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.project-modal--body {
  display: flex;
  flex: 1;
}/*# sourceMappingURL=app.css.map */