@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --opacity_1: 1;
  --opacity_0: 0;
  /* iOS 11.2 이상 */
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --primary: #FFD700;
  --sub: #FF612D;
  /* Grayscale */
  --gray_100: #000;
  --gray_95: #222;
  --gray_90: #444;
  --gray_80: #666;
  --gray_70: #777;
  --gray_60: #999;
  --gray_50: #ccc;
  --gray_40: #d7d7d7;
  --gray_30: #e5e5e5;
  --gray_20: #eee;
  --gray_10: #f7f7f7;
  --gray_0: #fff;
}

:root.dark {
  /* Grayscale */
  --gray_0: #000;
  --gray_10: #222;
  --gray_20: #444;
  --gray_30: #666;
  --gray_40: #777;
  --gray_50: #999;
  --gray_60: #ccc;
  --gray_70: #d7d7d7;
  --gray_80: #e5e5e5;
  --gray_90: #eee;
  --gray_95: #f7f7f7;
  --gray_100: #fff;
}

@keyframes modal-hide {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scale-In {
  0% {
    display: flex;
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scale-Out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes bottom-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bottom-Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes top-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes top-Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes left-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes left-Out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(-10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes right-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-Out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slideDownIn {
  0% {
    display: flex;
    opacity: 0;
  }
  1% {
    top: -10rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideDownOut {
  0% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: -10rem;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes slideLeftIn {
  0% {
    display: flex;
  }
  1% {
    left: -100dvw;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes slideLeftOut {
  0% {
    left: 0;
    opacity: 1;
  }
  99% {
    left: -100dvw;
    opacity: 1;
  }
  100% {
    left: -100dvw;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes slideRightIn {
  0% {
    display: flex;
  }
  1% {
    right: -100dvw;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes slideRightOut {
  0% {
    right: 0;
    opacity: 1;
  }
  99% {
    right: -100dvw;
    opacity: 1;
  }
  100% {
    right: -100dvw;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes show_toast {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide_toast {
  0% {
    transform: translateY(0);
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    margin-bottom: -5.2rem;
    opacity: 0;
  }
}
html {
  font-size: 0.9766vw;
}

html,
body {
  padding: 0;
}

/* See https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  background-color: #fff;
  font-family: "Base", sans-serif;
  color: #000;
  font-size: 1.6rem;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  min-height: 100dvh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  word-break: keep-all;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs */
input,
textarea,
select {
  font: inherit;
}

select[class],
textarea[class],
input[class] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

select[class]::-ms-expand {
  display: none;
}

/* Inherit fonts for buttons */
button {
  padding: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  background: transparent;
}

/* label */
label {
  cursor: pointer;
}

/* table */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  position: relative !important;
  width: 0.1rem !important;
  height: 0.1rem !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -0.1rem 0 0;
}

th,
td {
  border-collapse: collapse;
}

.a11y-hidden {
  position: absolute !important;
  width: 0.1rem !important;
  height: 0.1rem !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: 0 !important;
  padding: 0 !important;
}

.ellp {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

*.disabled,
*:disabled {
  pointer-events: none !important;
  cursor: default !important;
  opacity: 0.2 !important;
  box-shadow: none !important;
}

wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.4rem;
}

tit {
  font-size: 2rem;
  font-weight: 700;
}

stit {
  font-size: 1.6rem;
  font-weight: 500;
}

box {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 0.1rem dashed #ccc;
}

codebox {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 0.1rem dashed #ccc;
  background-color: #f2f2f2;
}

codebox code {
  width: 100%;
  overflow: auto;
  font-size: 1rem;
  line-height: 2;
  font-family: "Source Code Pro", serif;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

.math-mission {
  position: relative;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.math-mission[data-page="0"] [data-mission-page="0"], .math-mission[data-page="1"] [data-mission-page="1"], .math-mission[data-page="2"] [data-mission-page="2"], .math-mission[data-page="3"] [data-mission-page="3"], .math-mission[data-page="4"] [data-mission-page="4"], .math-mission[data-page="5"] [data-mission-page="5"], .math-mission[data-page="6"] [data-mission-page="6"], .math-mission[data-page="7"] [data-mission-page="7"], .math-mission[data-page="8"] [data-mission-page="8"], .math-mission[data-page="9"] [data-mission-page="9"], .math-mission[data-page="10"] [data-mission-page="10"] {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.math-mission [data-mission-page] {
  display: none;
}
.math-mission .math-mission--game-item {
  display: none;
}
.math-mission [data-step="0"] [data-step="0"] {
  display: flex;
}
.math-mission [data-step="1"] [data-step="1"] {
  display: flex;
}
.math-mission [data-step="2"] [data-step="2"] {
  display: flex;
}
.math-mission [data-step="3"] [data-step="3"] {
  display: flex;
}
.math-mission [data-step="4"] [data-step="4"] {
  display: flex;
}
.math-mission [data-step="5"] [data-step="5"] {
  display: flex;
}
.math-mission [data-step="6"] [data-step="6"] {
  display: flex;
}
.math-mission [data-step="7"] [data-step="7"] {
  display: flex;
}
.math-mission [data-step="8"] [data-step="8"] {
  display: flex;
}
.math-mission [data-step="9"] [data-step="9"] {
  display: flex;
}
.math-mission [data-step="10"] [data-step="10"] {
  display: flex;
}
.math-mission--intro [data-mission-btn] {
  position: absolute;
  bottom: 2rem;
  transform: translate(-50%, 0);
  left: 50%;
}
.math-mission--item[data-state=start] .math-mission--count,
.math-mission--item[data-state=start] .math-mission--timer,
.math-mission--item[data-state=start] .math-mission--quiz,
.math-mission--item[data-state=start] .math-mission--game,
.math-mission--item[data-state=start] .math-mission--control {
  display: none;
}
.math-mission--item[data-state=start] .math-mission--start {
  display: flex;
}
.math-mission--item[data-state=ready] .math-mission--count,
.math-mission--item[data-state=ready] .math-mission--quiz {
  display: flex;
}
.math-mission--item[data-state=ready] .math-mission--timer,
.math-mission--item[data-state=ready] .math-mission--game,
.math-mission--item[data-state=ready] .math-mission--control,
.math-mission--item[data-state=ready] .math-mission--start {
  display: none;
}
.math-mission--item[data-state=check-O] .math-mission--timer,
.math-mission--item[data-state=check-O] .math-mission--quiz,
.math-mission--item[data-state=check-O] .math-mission--game,
.math-mission--item[data-state=check-O] .math-mission--control, .math-mission--item[data-state=check-X] .math-mission--timer,
.math-mission--item[data-state=check-X] .math-mission--quiz,
.math-mission--item[data-state=check-X] .math-mission--game,
.math-mission--item[data-state=check-X] .math-mission--control, .math-mission--item[data-state=check] .math-mission--timer,
.math-mission--item[data-state=check] .math-mission--quiz,
.math-mission--item[data-state=check] .math-mission--game,
.math-mission--item[data-state=check] .math-mission--control, .math-mission--item[data-state=game-over] .math-mission--timer,
.math-mission--item[data-state=game-over] .math-mission--quiz,
.math-mission--item[data-state=game-over] .math-mission--game,
.math-mission--item[data-state=game-over] .math-mission--control, .math-mission--item[data-state=play] .math-mission--timer,
.math-mission--item[data-state=play] .math-mission--quiz,
.math-mission--item[data-state=play] .math-mission--game,
.math-mission--item[data-state=play] .math-mission--control {
  display: flex;
}
.math-mission--item[data-state=check-O] .math-mission--count,
.math-mission--item[data-state=check-O] .math-mission--start, .math-mission--item[data-state=check-X] .math-mission--count,
.math-mission--item[data-state=check-X] .math-mission--start, .math-mission--item[data-state=check] .math-mission--count,
.math-mission--item[data-state=check] .math-mission--start, .math-mission--item[data-state=game-over] .math-mission--count,
.math-mission--item[data-state=game-over] .math-mission--start, .math-mission--item[data-state=play] .math-mission--count,
.math-mission--item[data-state=play] .math-mission--start {
  display: none;
}
.math-mission--item[data-state=play] [data-mission-btn=step],
.math-mission--item[data-state=play] [data-mission-btn=next],
.math-mission--item[data-state=play] [data-mission-btn=again],
.math-mission--item[data-state=play] [data-mission-btn=out] {
  display: none;
}
.math-mission--item[data-state=play] .math-mission--game-btn {
  z-index: 1;
  opacity: 0.5;
}
.math-mission--item[data-state=check] [data-mission-btn=step],
.math-mission--item[data-state=check] [data-mission-btn=again],
.math-mission--item[data-state=check] [data-mission-btn=out] {
  display: none;
}
.math-mission--item[data-state=check-O] [data-mission-btn=next],
.math-mission--item[data-state=check-O] [data-mission-btn=again],
.math-mission--item[data-state=check-O] [data-mission-btn=out] {
  display: none;
}
.math-mission--item[data-state=check-X] [data-mission-btn=next],
.math-mission--item[data-state=check-X] [data-mission-btn=step], .math-mission--item[data-state=game-over] [data-mission-btn=next],
.math-mission--item[data-state=game-over] [data-mission-btn=step] {
  display: none;
}
.math-mission--item[data-state=game-over] .math-mission--game-timeover {
  display: flex;
}
.math-mission--item[data-state=check] .math-mission--game-O, .math-mission--item[data-state=check-O] .math-mission--game-O {
  display: flex;
}
.math-mission--item[data-state=check-X] .math-mission--game-X {
  display: flex;
}
.math-mission--quiz {
  display: flex;
  flex-shrink: 0;
}
.math-mission--control {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1.6rem;
  gap: 2rem;
  z-index: 10;
}
.math-mission--start {
  display: flex;
}
.math-mission--start [data-mission-btn] {
  position: absolute;
  bottom: 2rem;
  transform: translate(-50%, 0);
  left: 50%;
}
.math-mission--timer {
  position: absolute;
  right: 1.6rem;
  top: 2.4rem;
  width: 1rem;
  height: calc(100dvh - 4.8rem);
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  display: flex;
  z-index: 10;
}
.math-mission--timer[data-state=warning] .math-mission--timer-bar {
  background-color: pink;
}
.math-mission--timer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  background-color: yellowgreen;
}
.math-mission--timer-bar.motion {
  transition: height 1s linear;
}
.math-mission--game {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  padding: 2.4rem 4rem 0 2.4rem;
}
.math-mission--game-item {
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.math-mission--game-footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}
.math-mission--game-btn {
  padding: 0.8rem 2.4rem;
  font-size: 2rem;
  background-color: #222;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.math-mission--game-timeover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  padding-bottom: 8rem;
}
.math-mission--game-timeover strong {
  display: block;
  font-size: 8rem;
  font-weight: 700;
}
.math-mission--game-X, .math-mission--game-O {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  padding-bottom: 8rem;
  z-index: 5;
}
.math-mission--game-O::after {
  content: "O";
  display: block;
  font-size: 32rem;
  color: blue;
  font-weight: 700;
}
.math-mission--game-X::after {
  content: "X";
  display: block;
  font-size: 32rem;
  color: red;
  font-weight: 700;
}

[data-mission-btn] {
  padding: 0.8rem 2.4rem;
  font-size: 2rem;
  background-color: #222;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

[data-mission-btn=step] {
  background-color: blue;
}

.game-mating {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-mating--wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.game-mating--item {
  flex: 1;
  padding: 4rem 2rem;
  border-radius: 1.6rem;
  border: 0.2rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-width: calc(33% - 0.8rem);
}
.game-mating--item[data-selected=true][data-n="1"] {
  background-color: skyblue;
}
.game-mating--item[data-selected=true][data-n="2"] {
  background-color: pink;
}
.game-mating--item[data-selected=true][data-n="3"] {
  background-color: yellowgreen;
}/*# sourceMappingURL=app.css.map */